<h1 align=center><font size = 5>Peer-graded Assignment: Build a Regression Model in Keras</font></h1>


Author: Konstantinos Kontogeorgopoulos

Final Assignment for Introduction to Deep Learning & Neural Networks with Keras, 
IBM Skills Network

In [18]:
#Install libraries if you do not already have them
#!pip install numpy==1.21.4
#!pip install pandas==1.3.4
#!pip install keras==2.1.6

## Lets first Download and clean the dataset

In [19]:
# We import the pandas and numpy libraries
import pandas as pd
import numpy as np

We read the dataset provided by the assignment https://cocl.us/concrete_data  
I downloaded it into the same folder as this FinalAssignment.ipynb

In [20]:
#read .csv data file and put it into concrete_data pandas dataframe object
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
#lets see the first 5 rows of the csv
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

This dataset is a concrete samples dataset.  
I see that i have Cement, Blast Furnace Slag, Fly ash, Water, Superplasticizer, Coarse Aggrepate, Fine Aggregate, Age and Strength as the columns

I check how many data points i have

In [21]:
concrete_data.shape

(1030, 9)

And i see that i have 1030 samples with the 9 columns that i talked about above.

Let's check if the data needs cleaning.

In [22]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [23]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

There are no NULL values in our data.  
So our data is clean and we do not need to clean them.

## Now that i know my data is clean i proceed to split the data into predictors and target according to the assignment's instructions

The target is Strength and all other columns are predictors

In [24]:
#Pass into the variable concrete_data_columns the concrete_data columns
concrete_data_columns = concrete_data.columns
#Pass into predictors variable the predictors, everything  except strength
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
#Pass into the target variable strength 
target = concrete_data['Strength']

And i doublecheck the predictors

In [25]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

And the target

In [26]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## B: Normalize the Data

Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.  
As the instructions prompt me to do.

In [27]:
# I normalize the data by subtracting the mean from the individual predictors and dividing by the standard deviation
predictors_norm = (predictors - predictors.mean()) / predictors.std()

# I print the top 5
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

## Build a Baseline Model

So lets import Keras using tensorflow 2.11

In [28]:
import tensorflow as tf 
# print(tf.version.VERSION)
# from tensorflow import keras

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

In [29]:
# Regression model
def regression_model():
    #I create the model
    model = tf.keras.Sequential()
    # In Dense method i put in the hidden layer 10 neurons with the RelU activation function
    model.add(tf.keras.layers.Dense(10, activation='relu', input_shape=(8,)))
    model.add(tf.keras.layers.Dense(1))
    
    # and add the adam optimizer and the mean squared error as the loss function 
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

In [30]:
#import train_test_split from sklearn
from sklearn.model_selection import train_test_split
#and split the data into a training and test sets with 70-30 % training - test
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=7)

## C: Repeat Part B but use 100 epochs this time for training

2. Train the model on the training data using 100 epochs this time as the instructions of the exercise prompt me to do.

In [31]:
# I call the method to create the model and put it into model var
model = regression_model()
# and i use 100 epochs to train it
model.fit(X_train, y_train, epochs=100, verbose=1)

Epoch 1/100
23/23 [==============================] - 0s 727us/step - loss: 159284.3281
Epoch 2/100
23/23 [==============================] - 0s 727us/step - loss: 80561.5000
Epoch 3/100
23/23 [==============================] - 0s 773us/step - loss: 32381.8008
Epoch 4/100
23/23 [==============================] - 0s 773us/step - loss: 11347.6377
Epoch 5/100
23/23 [==============================] - 0s 727us/step - loss: 5957.2563
Epoch 6/100
23/23 [==============================] - 0s 727us/step - loss: 5175.3125
Epoch 7/100
23/23 [==============================] - 0s 727us/step - loss: 4945.9800
Epoch 8/100
23/23 [==============================] - 0s 773us/step - loss: 4715.4009
Epoch 9/100
23/23 [==============================] - 0s 773us/step - loss: 4488.7769
Epoch 10/100
23/23 [==============================] - 0s 727us/step - loss: 4281.6382
Epoch 11/100
23/23 [==============================] - 0s 727us/step - loss: 4082.8538
Epoch 12/100
23/23 [==============================] - 0s 727us/step - loss: 3889.1306
Epoch 13/100
23/23 [==============================] - 0s 727us/step - loss: 3706.2754
Epoch 14/100
23/23 [==============================] - 0s 727us/step - loss: 3533.0452
Epoch 15/100
23/23 [==============================] - 0s 682us/step - loss: 3366.3696
Epoch 16/100
23/23 [==============================] - 0s 727us/step - loss: 3212.9197
Epoch 17/100
23/23 [==============================] - 0s 727us/step - loss: 3063.0452
Epoch 18/100
23/23 [==============================] - 0s 773us/step - loss: 2920.8542
Epoch 19/100
23/23 [==============================] - 0s 727us/step - loss: 2790.7126
Epoch 20/100
23/23 [==============================] - 0s 727us/step - loss: 2673.9763
Epoch 21/100
23/23 [==============================] - 0s 727us/step - loss: 2555.7412
Epoch 22/100
23/23 [==============================] - 0s 727us/step - loss: 2444.6826
Epoch 23/100
23/23 [==============================] - 0s 773us/step - loss: 2339.7756
Epoch 24/100
23/23 [==============================] - 0s 727us/step - loss: 2241.7271
Epoch 25/100
23/23 [==============================] - 0s 727us/step - loss: 2151.7214
Epoch 26/100
23/23 [==============================] - 0s 727us/step - loss: 2067.3286
Epoch 27/100
23/23 [==============================] - 0s 727us/step - loss: 1983.3856
Epoch 28/100
23/23 [==============================] - 0s 682us/step - loss: 1905.1302
Epoch 29/100
23/23 [==============================] - 0s 727us/step - loss: 1832.4769
Epoch 30/100
23/23 [==============================] - 0s 727us/step - loss: 1761.9331
Epoch 31/100
23/23 [==============================] - 0s 727us/step - loss: 1697.6617
Epoch 32/100
23/23 [==============================] - 0s 682us/step - loss: 1631.8326
Epoch 33/100
23/23 [==============================] - 0s 727us/step - loss: 1569.8610
Epoch 34/100
23/23 [==============================] - 0s 727us/step - loss: 1512.7137
Epoch 35/100
23/23 [==============================] - 0s 682us/step - loss: 1457.3582
Epoch 36/100
23/23 [==============================] - 0s 727us/step - loss: 1404.7090
Epoch 37/100
23/23 [==============================] - 0s 727us/step - loss: 1355.3262
Epoch 38/100
23/23 [==============================] - 0s 727us/step - loss: 1306.7592
Epoch 39/100
23/23 [==============================] - 0s 727us/step - loss: 1259.7472
Epoch 40/100
23/23 [==============================] - 0s 727us/step - loss: 1214.3101
Epoch 41/100
23/23 [==============================] - 0s 727us/step - loss: 1171.8020
Epoch 42/100
23/23 [==============================] - 0s 727us/step - loss: 1130.0333
Epoch 43/100
23/23 [==============================] - 0s 773us/step - loss: 1089.3497
Epoch 44/100
23/23 [==============================] - 0s 727us/step - loss: 1052.3849
Epoch 45/100
23/23 [==============================] - 0s 727us/step - loss: 1013.1608
Epoch 46/100
23/23 [==============================] - 0s 727us/step - loss: 973.8618
Epoch 47/100
23/23 [==============================] - 0s 727us/step - loss: 938.2529
Epoch 48/100
23/23 [==============================] - 0s 727us/step - loss: 904.8013
Epoch 49/100
23/23 [==============================] - 0s 727us/step - loss: 870.5204
Epoch 50/100
23/23 [==============================] - 0s 727us/step - loss: 838.2256
Epoch 51/100
23/23 [==============================] - 0s 773us/step - loss: 806.1928
Epoch 52/100
23/23 [==============================] - 0s 727us/step - loss: 773.5565
Epoch 53/100
23/23 [==============================] - 0s 727us/step - loss: 744.3152
Epoch 54/100
23/23 [==============================] - 0s 727us/step - loss: 714.5247
Epoch 55/100
23/23 [==============================] - 0s 727us/step - loss: 686.3481
Epoch 56/100
23/23 [==============================] - 0s 682us/step - loss: 659.0702
Epoch 57/100
23/23 [==============================] - 0s 727us/step - loss: 632.5594
Epoch 58/100
23/23 [==============================] - 0s 727us/step - loss: 607.1906
Epoch 59/100
23/23 [==============================] - 0s 773us/step - loss: 580.7125
Epoch 60/100
23/23 [==============================] - 0s 682us/step - loss: 556.7145
Epoch 61/100
23/23 [==============================] - 0s 727us/step - loss: 532.8727
Epoch 62/100
23/23 [==============================] - 0s 727us/step - loss: 510.3752
Epoch 63/100
23/23 [==============================] - 0s 727us/step - loss: 488.5331
Epoch 64/100
23/23 [==============================] - 0s 727us/step - loss: 466.8521
Epoch 65/100
23/23 [==============================] - 0s 727us/step - loss: 446.5658
Epoch 66/100
23/23 [==============================] - 0s 727us/step - loss: 427.1783
Epoch 67/100
23/23 [==============================] - 0s 727us/step - loss: 408.5275
Epoch 68/100
23/23 [==============================] - 0s 727us/step - loss: 389.1656
Epoch 69/100
23/23 [==============================] - 0s 727us/step - loss: 372.8141
Epoch 70/100
23/23 [==============================] - 0s 727us/step - loss: 355.1025
Epoch 71/100
23/23 [==============================] - 0s 682us/step - loss: 340.6607
Epoch 72/100
23/23 [==============================] - 0s 727us/step - loss: 324.9950
Epoch 73/100
23/23 [==============================] - 0s 727us/step - loss: 310.4079
Epoch 74/100
23/23 [==============================] - 0s 727us/step - loss: 295.8029
Epoch 75/100
23/23 [==============================] - 0s 727us/step - loss: 283.8542
Epoch 76/100
23/23 [==============================] - 0s 727us/step - loss: 270.2325
Epoch 77/100
23/23 [==============================] - 0s 727us/step - loss: 258.7966
Epoch 78/100
23/23 [==============================] - 0s 727us/step - loss: 247.4226
Epoch 79/100
23/23 [==============================] - 0s 727us/step - loss: 238.2872
Epoch 80/100
23/23 [==============================] - 0s 727us/step - loss: 227.3318
Epoch 81/100
23/23 [==============================] - 0s 682us/step - loss: 218.0222
Epoch 82/100
23/23 [==============================] - 0s 727us/step - loss: 209.9407
Epoch 83/100
23/23 [==============================] - 0s 727us/step - loss: 202.0778
Epoch 84/100
23/23 [==============================] - 0s 727us/step - loss: 194.8595
Epoch 85/100
23/23 [==============================] - 0s 727us/step - loss: 189.6523
Epoch 86/100
23/23 [==============================] - 0s 727us/step - loss: 182.4786
Epoch 87/100
23/23 [==============================] - 0s 727us/step - loss: 176.9606
Epoch 88/100
23/23 [==============================] - 0s 727us/step - loss: 170.6241
Epoch 89/100
23/23 [==============================] - 0s 727us/step - loss: 166.7129
Epoch 90/100
23/23 [==============================] - 0s 727us/step - loss: 161.7235
Epoch 91/100
23/23 [==============================] - 0s 727us/step - loss: 157.7588
Epoch 92/100
23/23 [==============================] - 0s 727us/step - loss: 154.3105
Epoch 93/100
23/23 [==============================] - 0s 727us/step - loss: 151.4367
Epoch 94/100
23/23 [==============================] - 0s 727us/step - loss: 148.0429
Epoch 95/100
23/23 [==============================] - 0s 727us/step - loss: 145.7565
Epoch 96/100
23/23 [==============================] - 0s 727us/step - loss: 144.2930
Epoch 97/100
23/23 [==============================] - 0s 727us/step - loss: 140.9463
Epoch 98/100
23/23 [==============================] - 0s 682us/step - loss: 139.7664
Epoch 99/100
23/23 [==============================] - 0s 682us/step - loss: 137.6616
Epoch 100/100
23/23 [==============================] - 0s 727us/step - loss: 136.8844

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [32]:
#evaluate the model 
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 778us/step - loss: 127.4044
10/10 [==============================] - 0s 667us/step

127.40442657470703

In [33]:
# import mean_squared_error from sklearn.metrics
from sklearn.metrics import mean_squared_error
# compute the mean squared error between the predicted concrete stregth y_pred and the actual concrete strength y_test 
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

127.40442242526683 0.0

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.  
5. Report the mean and the standard deviation of the mean squared errors.

In [34]:
all_mean_squared_errors = 50
#creating empty array
mean_squared_errors = []
#for 50 times i do the same as i did before
for i in range(0, all_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " + str(all_mean_squared_errors) + " mean squared errors with normalized data. \n")
print("Mean: "+ str(mean))
print("Standard Deviation: "+ str(standard_deviation))

MSE 1: 102.5456314086914
10/10 [==============================] - 0s 667us/step
MSE 2: 125.3401870727539
10/10 [==============================] - 0s 667us/step
MSE 3: 117.08358764648438
10/10 [==============================] - 0s 889us/step
MSE 4: 102.80683898925781
10/10 [==============================] - 0s 778us/step
MSE 5: 82.63968658447266
10/10 [==============================] - 0s 556us/step
MSE 6: 73.52833557128906
10/10 [==============================] - 0s 778us/step
MSE 7: 69.01797485351562
10/10 [==============================] - 0s 778us/step
MSE 8: 54.70022964477539
10/10 [==============================] - 0s 667us/step
MSE 9: 52.6583251953125
10/10 [==============================] - 0s 667us/step
MSE 10: 55.656471252441406
10/10 [==============================] - 0s 667us/step
MSE 11: 48.812416076660156
10/10 [==============================] - 0s 667us/step
MSE 12: 45.64715576171875
10/10 [==============================] - 0s 889us/step
MSE 13: 55.20590591430664
10/10 [==============================] - 0s 667us/step
MSE 14: 52.57242965698242
10/10 [==============================] - 0s 667us/step
MSE 15: 49.919212341308594
10/10 [==============================] - 0s 667us/step
MSE 16: 44.52899932861328
10/10 [==============================] - 0s 670us/step
MSE 17: 55.292057037353516
10/10 [==============================] - 0s 776us/step
MSE 18: 49.320289611816406
10/10 [==============================] - 0s 687us/step
MSE 19: 42.9154167175293
10/10 [==============================] - 0s 667us/step
MSE 20: 48.738136291503906
10/10 [==============================] - 0s 667us/step
MSE 21: 43.34250259399414
10/10 [==============================] - 0s 781us/step
MSE 22: 45.263614654541016
10/10 [==============================] - 0s 667us/step
MSE 23: 46.47981262207031
10/10 [==============================] - 0s 667us/step
MSE 24: 47.39308547973633
10/10 [==============================] - 0s 778us/step
MSE 25: 44.57295608520508
10/10 [==============================] - 0s 554us/step
MSE 26: 46.48383331298828
10/10 [==============================] - 0s 666us/step
MSE 27: 48.75803756713867
10/10 [==============================] - 0s 666us/step
MSE 28: 43.655155181884766
10/10 [==============================] - 0s 778us/step
MSE 29: 49.48534393310547
10/10 [==============================] - 0s 777us/step
MSE 30: 48.41647720336914
10/10 [==============================] - 0s 666us/step
MSE 31: 49.690311431884766
10/10 [==============================] - 0s 667us/step
MSE 32: 39.43024444580078
10/10 [==============================] - 0s 778us/step
MSE 33: 46.99455642700195
10/10 [==============================] - 0s 556us/step
MSE 34: 53.59261703491211
10/10 [==============================] - 0s 667us/step
MSE 35: 45.7955207824707
10/10 [==============================] - 0s 667us/step
MSE 36: 48.928218841552734
10/10 [==============================] - 0s 667us/step
MSE 37: 48.619468688964844
10/10 [==============================] - 0s 664us/step
MSE 38: 52.790775299072266
10/10 [==============================] - 0s 778us/step
MSE 39: 43.35506820678711
10/10 [==============================] - 0s 667us/step
MSE 40: 45.183650970458984
10/10 [==============================] - 0s 667us/step
MSE 41: 54.49608612060547
10/10 [==============================] - 0s 667us/step
MSE 42: 43.40624237060547
10/10 [==============================] - 0s 666us/step
MSE 43: 43.83809280395508
10/10 [==============================] - 0s 667us/step
MSE 44: 50.93716049194336
10/10 [==============================] - 0s 667us/step
MSE 45: 49.76532745361328
10/10 [==============================] - 0s 555us/step
MSE 46: 47.62668228149414
10/10 [==============================] - 0s 663us/step
MSE 47: 49.40576934814453
10/10 [==============================] - 0s 667us/step
MSE 48: 47.593597412109375
10/10 [==============================] - 0s 667us/step
MSE 49: 47.054203033447266
10/10 [==============================] - 0s 778us/step
MSE 50: 49.49061965942383
10/10 [==============================] - 0s 667us/step


Below is the mean and standard deviation of 50 mean squared errors with normalized data.

Mean: 55.01548759212661
Standard Deviation: 18.546971737474742

## Question: How does the mean of the mean squared errors compare to that from Step B?

So at B the mean was : 59.59618163562697  
and at C it is : 55.01548759212661  
The mean at C after we normalized our data is quite smaller than in question B where we did not.  
Here we see that after we did 100 epochs insted of 50 the model has even less error than before